#icon{

    height: 40px;
    cursor: pointer;
}


:root{
    --color-a: #FFFFFF;
    --color-b: #000000;
    --color-c: #545860;
    --color-d: #21154A;
    --color-e: #D0D4E3;
}

.dark-theme {
    --color-a: #000000;
    --color-b: #FFFFFF;
    --color-c: #D0D4E3;
    --color-d: #FFFFFF;
    --color-e: #000000;
}


body {
    color: var(--color-b);
}

.navbar-nav .nav-link {
    color: var(--color-b); /* Set default link color */
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: var(--color-d); /* Optional: Change color on hover */
}

.navbar-nav .nav-link.active {
    color: var(--color-d); /* Ensure the active link color is consistent */
}



/*Heading Styling*/
h1, h2, h3, h4, h5, h6{
    font-family: Helvetica;
    font-weight: 100 !important;
    letter-spacing: 5px;
}

/*Paragraph Styling*/
p {
    font-family: "Helvetica Neue";
    font-weight: 350;
}


/*Class Styling*/
.headingText {
    text-transform: uppercase;
    transition: color 0.3s ease-in-out; /* Transition for color change */

}

.headingText:hover
{
    color: #888888;
}


.centerText {
    text-align: center;

}

.navbar-nav .nav-link {
    font-size: 18px;
}

.brandcolor1 {
    color: var(--color-d);
}

.footer-link {
    color: var(--color-d);
    text-decoration: none; /* Remove underline */
}

.footer-link:hover {
    color: var(--color-e);
    text-decoration: underline; /* Underline on hover */
}

a{
    color: var(--color-b);
}

.card {
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.card-body {
    padding: 1.5rem; /* Adjust padding */
}


.blog-page {
    background-color: var(--color-a);
    color: white; /* Optional: changes text color to white for better readability */
}