

/*Heading Styling*/
h1, h2, h3, h4, h5, h6{
    font-family: Helvetica;
    font-weight: 100 !important;
    letter-spacing: 5px;
}

/*Paragraph Styling*/
p {
    font-family: "Helvetica Neue";
    font-weight: 350;
}


/*Class Styling*/
.headingText {
    text-transform: uppercase;
    transition: color 0.3s ease-in-out; /* Transition for color change */

}

.headingText:hover
{
    color: #888888;
}


.centerText {
text-align: center;

}

.navbar-nav .nav-link {
    font-size: 18px;
}

.brandcolor1 {
    color: #21154A; /* White color */
}

.footer-link {
    color: #D0D4E3;
    text-decoration: none; /* Remove underline */
}

.footer-link:hover {
    color: D0D4E3;
    text-decoration: underline; /* Underline on hover */
}





